<html>
  <head>
    <title>RESULT.EJS</title>
  </head>
  <body>
    <h4>Students with grade <%= grade%></h4>
    <table border="1px">
      <tr>
        <th>
          USN
        </th>
        <th>
          GRADE
        </th>
      </tr>
      <% for (var i = 0; i < data.length; i++) { %>
      <tr>
        <td>
          <%= data[i].usn %>
        </td>
        <td>
          <%= data[i].grade %>
        </td>
      </tr>
      <% } %>
    </table>

    <br />

    <a href="/">Home</a><br />
    <a href="/insert">Add new</a><br />
    <a href="/find">Search</a>
  </body>
</html>